@charset "UTF-8";

@font-face {
  font-family: "SU";
  src: url("../fontes/Anja Eliane.ttf") format(truetype);
  font-weight: normal;
}

:root {
  --cor0: #fef9f7;
  --cor1: #e9d2d3;
  --cor2: #ecbfca;
  --cor3: #c98ca3;
  --cor4: #b78197;
  --cor5: #754157;

  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --fonte-destaque: "SU", serif;
}

html, body {
  overflow-x: hidden;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url(wallpaper.png);
  background-size: cover; /* Faz com que a imagem cubra toda a tela */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Mantém a imagem fixa ao rolar a página */

  font-family: var(--fonte-padrao);
}

header {
  background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
  min-height: 150px;
  text-align: center;
  padding-top: 30px;
}

header img {
  max-width: 100%;
  height: auto;
}

nav {
  background-color: var(--cor5);
  padding: 20px 10px 0px;
  box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.466);

  display: flex;
  align-items: flex-end;
}

nav > a {
  color: var(--cor0);
  padding: 10px;
  text-decoration: none;
  font-weight: bold;

  border-radius: 5px 5px 0px 0px;

  transition-duration: 0.5s;

  display: inline-block;
}

nav > a:hover {
  background-color: var(--cor4);
  color: var(--cor5);
}

main {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);

  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;

  min-width: 300px;
  max-width: 900px;
}

main h1 {
  color: var(--cor5);
  font-family: var(--fonte-destaque);
  font-size: 1.8em;
  font-weight: normal;
}

.margemH1 {
  margin: 20px 10px 0px 0px;
}

main p {
  margin: 8px 0px 15px 0px;
  text-align: justify;
  font-size: 1em;
  line-height: 1.5em;
}

.indentacao {
  text-indent: 30px;
}

main strong {
  color: var(--cor4);
  font-weight: bold;
  padding: 1px 4px;
}

main a {
  text-decoration: none;
  font-weight: bold;
  color: var(--cor5);
  background-color: var(--cor1);
  padding: 3px 2px 3px 4px;
}

main a:hover {
  text-decoration: underline;
  color: var(--cor4);
}

main img {
  width: 150px;
}

main img.pequena {
  max-width: 300px;
  display: block;
  margin: auto;
}

.colunas {
  display: grid; /* grid para organizar os elementos em uma grade */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 900px; /* Limita a largura máxima do conteúdo */
  margin: 0 auto;
}

.item {
  display: flex; /* Usa o modelo flexbox para alinhar a imagem e o texto lado a lado */
  align-items: center;
  padding: 10px;

  max-width: 400px; /* controla largura do bloco */
  width: 100%;
}

.item img {
  width: 150px;
  margin-right: 15px;
}

div.video {
  background-color: var(--cor5);
  margin: 0 -20px 30px -20px;
  position: relative;
  padding-bottom: 56.25%; /* proporção 16:9 */
  height: 0;
  overflow: hidden;
}

div.video > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border: 20px solid transparent;
  border-image: url("borda.png") 27 repeat;
  box-sizing: border-box;
}

@media (max-width: 500px) {
  nav {
    text-align: center;
    gap: 8px;
  }

  nav > a {
    font-size: 0.90em;
    padding: 6px 8px;
    display: inline-block;
  }
}

@media (max-width: 700px) {
  .colar {
    flex-wrap: wrap; /* permite quebrar linha */
  }

  .colar > div {
    width: 50%; /* 2 por linha */
    display: flex;
    flex-direction: column;
    align-items: center; /* centraliza imagem + texto */
  }
}

aside {
  background-color: var(--cor1);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.493);
  margin-bottom: 25px;
}

aside > h1 {
  background-color: var(--cor4);
  color: var(--cor0);
  padding: 10px;
  margin: -10px -10px 1px -10px;
  border-radius: 10px 10px 0px 0px;
}

aside img {
  width: 100%;
  max-width: 170px;
  height: auto;
}

.colar {
  display: flex;
  justify-content: center;
}

.colar img {
  margin: 2px;
}

.colar > div {
  width: 48%;
}

.first-five div {
  text-align: center;
  margin: 0 5px;
}

.imgnormal {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

aside p {
  text-align: center;
  margin: 1px 0px 10px 0px;
}

aside a {
  background-color: var(--cor2);
  color: var(--cor5);
  font-weight: bold;
  text-decoration: none;

  border-radius: 5px;

  transition-duration: 0.5s;
}

aside a:hover {
  color: var(--cor4);
  text-decoration: underline;
}

footer {
  background-color: var(--cor5);
  color: white;
  text-align: center;
  font-size: 0.9em;
  padding: 5px;
}

footer a {
  color: var(--cor1);
  font-weight: bolder;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: var(--cor1);
}
